.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  height: 50vh;
  background-color: aqua;
  width: 20em;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
}
h2 {
  padding: 5rem 0rem;
}
button {
  font-size: 2rem;
  width: 4rem;
  border-radius: 5px;
  background-color: rgb(35, 223, 82);
  margin: 1rem;
  font-weight: 900;
}
button:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}
